.home {
  height: 84vh;
  /* border: solid 2px red; */
  background: center / cover no-repeat url('../../assets/cover-items.jpg');

  position: relative;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.overlayText {
  background-color: #000000ab;
  color: white;
  width: 45%;
  text-align: center;
  font-size: 3.7rem;
  padding: 4rem 2.5rem;
  /* border-radius: 50%; */

  position: absolute;
  height: fit-content;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  letter-spacing: 4px;
  text-decoration: none;
}
