.home {
  background: center / cover no-repeat url('../../assets/cover-items.jpg');
  position: relative;
  flex: 1 1 auto;
}

.overlayText {
  background-color: #000000ab;
  color: white;
  width: 45%;
  text-align: center;
  font-size: 3.6rem;
  padding: 4rem 2.5rem;
  position: absolute;
  height: fit-content;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  letter-spacing: 4px;
  text-decoration: none;
}

@media (max-width: 625px) {
  .overlayText {
    font-size: 2.3rem;
    width: 100%;
  }
}
