.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  background: linear-gradient(180deg, #dac9b4, 35%, #fff);
}

.header h1 {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 5px;
}

.header h2 {
  margin-top: 0.5rem;
  font-size: 3rem;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navContainer ul {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  list-style-type: none;
}

.linkWrapper {
  font-size: 2.3rem;
  padding: 1rem;
  white-space: nowrap;
  /* Below is experimental */
  /* text-wrap: nowrap; */
}

.linkWrapper:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 625px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: auto;
  }

  .header h1 {
    font-size: 4rem;
  }

  .header h2 {
    font-size: 2.5rem;
  }

  .header > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .linkWrapper {
    font-size: 2.1rem;
  }
}
